.section {
  background: #3E3D43AA;
  padding: 2vh 15vw 5vh 15vw;
  text-align: center;
  /* margin: 10px auto; */
  flex: 1;
  transition: 
    background-color 0.5s ease, border-color 0.5s ease;
  /* border-radius: 15px; */
  /* border: 2px solid #3E3D43; */
  font-family: 'Roboto', sans-serif; /* Updated font */
}

.section:nth-child(odd) {
  background: #3E3D4344;
}

.section:hover {
  /* background-color: #3E3D43AA; */
  /* border-color: #00C9C1; */
}

.section > h2 {
  color: #00F9F1;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 2em;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #212021;
  color: #fff;
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: #3E3D4344;
}

.holder {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 1.2em;
}

.holder > h1 {
  margin: 0;
  letter-spacing: 2px;
}

header img {
  /* max-width: 120%; */
  width: 140px;
  height: 140px;
}

.avatar {
  /* border-radius: 50%; */
  border-radius: 30%;
  border: 3px solid #F6F4F6;
  cursor: none;
}

.avatar:hover {
  animation: hoover 3s ease-in-out infinite;
}

@keyframes hoover {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.social-link {
  color: #FFFFFFEE;
  display: flex;
  justify-content: center;
  items-align: center;
  gap: 5px;
}

.linkedin-icon {
  width: 25px;
  height: 25px;
}

.project {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: left;
  gap: 20px;
}

.project img {
  width: 550px;
  height: auto;
  border: 3px solid #00C9C1;
}

.project-content {
  grid-column: 1 / 3;
  flex: 1;
  max-width: 600px;
  margin-right: 20px;
}

.project-content > h3 {
  color: #AAF9F1;
  margin-bottom: 7px;
}

.project-content li {
  margin: 7px 0;
}

.project-content li::before {
  content: '↪ ';
  color: #00C9C188;
}

.project-preview {
  grid-column: 3 / 5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #000000;
  border-radius: 10px;
  box-shadow: 0 5px 5px #212021;
}

#projects_unfinished > h2::after {
  content: ' (unfinished)';
  color: #FFAAAA;
  font-weight: normal;
}

a {
  color: #C0FCF7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 7px;
  color: #C2C1C2;
}

@media (max-width: 1024px) {
  .section {
    margin: 10px;
    padding: 2vh 5vw 5vh 5vw;
  }

  .project {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Change to 2 columns for mobile */
    text-align: left;
    gap: 20px;
  }
  .project img {
    width: 100%; /* Make image width 100% of the parent container */
    max-width: 100%; /* Ensure it doesn’t exceed parent container */
  }
  .project-content {
    grid-column: 1 / 3;
    flex: 1;
    max-width: 600px;
    margin-right: 20px;
  }
  .project-preview {
    grid-column: 1 / 3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #000000;
    border-radius: 10px;
    box-shadow: 0 5px 5px #212021;
  }
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .section {
    overflow: hidden; /* Ensure content does not overflow */
  }

  /* .project {
    flex-wrap: wrap;
  } */

  .project img {
    width: 100%; /* Make image width 100% of the parent container */
    max-width: 100%; /* Ensure it doesn’t exceed parent container */
  }
}
